src/main/resources/xsd/tn-conditions-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Режимы использования -->
    <xs:simpleType name="variantModeNameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="read">
                <xs:annotation>
                    <xs:documentation><![CDATA[Чтение]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="edit">
                <xs:annotation>
                    <xs:documentation><![CDATA[Редактирование]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="dialog">
                <xs:annotation>
                    <xs:documentation><![CDATA[Диалог]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="template">
                <xs:annotation>
                    <xs:documentation><![CDATA[Шаблон]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="print">
                <xs:annotation>
                    <xs:documentation><![CDATA[Печать]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="table">
                <xs:annotation>
                    <xs:documentation><![CDATA[Таблица]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="email">
                <xs:annotation>
                    <xs:documentation><![CDATA[E-Mail]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest1">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest1]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest2">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest2]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest3">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest3]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest4">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest4]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest5">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest5]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest6">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest6]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digest7">
                <xs:annotation>
                    <xs:documentation><![CDATA[digest7]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="client">
                <xs:annotation>
                    <xs:documentation><![CDATA[client]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="copy">
                <xs:annotation>
                    <xs:documentation><![CDATA[Копия документа]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="table_read">
                <xs:annotation>
                    <xs:documentation><![CDATA[table_read]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="table_edit">
                <xs:annotation>
                    <xs:documentation><![CDATA[table_edit]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digestSOLiveSearch">
                <xs:annotation>
                    <xs:documentation><![CDATA[digestSOLiveSearch]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="digestTest">
                <xs:annotation>
                    <xs:documentation><![CDATA[Тестовый]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Объединение условий -->
    <xs:simpleType name="conditionUnionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Объединение условий]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AND">
                <xs:annotation>
                    <xs:documentation><![CDATA[Логика "И"]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OR">
                <xs:annotation>
                    <xs:documentation><![CDATA[Логика "ИЛИ"]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="valueStringType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="valueIntegerType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>

    <xs:simpleType name="valueDoubleType">
        <xs:restriction base="xs:double"/>
    </xs:simpleType>

    <xs:simpleType name="valueBooleanType">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <xs:complexType name="stringType">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" name="value" type="valueStringType"/>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="valueStringType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="integerType">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" name="value" type="valueIntegerType"/>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="valueIntegerType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="doubleType">
        <xs:sequence minOccurs="0">
            <xs:element maxOccurs="unbounded" name="value" type="valueDoubleType"/>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="valueDoubleType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="booleanType">
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="value" type="valueBooleanType" use="optional"/>
    </xs:complexType>

    <!--Условия применения-->
    <xs:complexType name="condtionObjectType">
        <xs:annotation>
            <xs:documentation><![CDATA[Условие применения]]></xs:documentation>
        </xs:annotation>
        <xs:all minOccurs="0">
            <xs:element name="modes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Режимы использования]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mode" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="name" type="variantModeNameType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="roles" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Роли]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="role" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="schema-ref">
                <xs:annotation>
                    <xs:documentation><![CDATA[Состояние бизнес-объекта]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="string-ref" minOccurs="0" maxOccurs="unbounded" type="stringType"/>
                        <xs:element name="integer-ref" minOccurs="0" maxOccurs="unbounded" type="integerType"/>
                        <xs:element name="double-ref" minOccurs="0" maxOccurs="unbounded" type="doubleType"/>
                        <xs:element name="boolean-ref" minOccurs="0" maxOccurs="unbounded" type="booleanType"/>
                    </xs:choice>
                    <xs:attribute name="ref" type="xs:string" use="required"/>
                    <xs:attribute name="condition-union" type="conditionUnionType" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="expression" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[JavaScript-выражение УП]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="lang" type="codeJSType" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="codeJSType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="JavaScript">
                <xs:annotation>
                    <xs:documentation><![CDATA[JavaScript]]></xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ссылка на условие -->
    <xs:complexType name="refConditionType">
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название условия применения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Условие -->
    <xs:complexType name="conditionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Условия]]></xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element name="condition" type="xs:boolean" minOccurs="0" maxOccurs="unbounded" default="false">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[Условие. Варианты: true или false. По умолчанию: false. Применяется для полного скрытия, редактирования и переименование и т.д.]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="condition-ref" type="refConditionType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[Условие]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="negative-condition-ref" type="refConditionType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[Отрицательное условие]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="condition-union" type="conditionUnionType" use="optional"/>
    </xs:complexType>
</xs:schema>