src/main/resources/xsd/tn-dependent-fields-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="dependentFieldObjectType">
        <xs:annotation>
            <xs:documentation><![CDATA[Зависимое поле]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaDependentFieldsType" minOccurs="0"/>
            <xs:element name="validation-script" type="expressionCodeType"/>
            <xs:element name="property-ref" type="schemaPropertyRefType" />
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название настройки зависимого поля]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warning" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[Отображаемое предупреждение на клиенте]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Ссылка на свойство схемы -->
    <xs:complexType name="schemaPropertyRefType">
        <xs:annotation>
            <xs:documentation><![CDATA[Ссылка на свойство схемы]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="schema-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Схема]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Свойство схемы]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Выражение -->
    <xs:complexType name="expressionCodeType">
        <xs:annotation>
            <xs:documentation><![CDATA[Выражение]]></xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" use="required">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Язык программирования]]></xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="JavaScript">
                                <xs:annotation>
                                    <xs:documentation><![CDATA[JavaScript]]></xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Доп. информация -->
    <xs:complexType name="metaDependentFieldsType">
        <xs:annotation>
            <xs:documentation><![CDATA[Доп. информация для разработчика]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="category" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Категория]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute type="xs:string" name="name" use="required">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Название категории]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentation" type="xs:string">
                <xs:annotation>
                    <xs:documentation><![CDATA[Комментарий]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>