src/main/resources/xsd/tn-projections-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="projectionObjectType">
        <xs:annotation>
            <xs:documentation><![CDATA[Проекция]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название проекции]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="client-alias" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Алиас клиента]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="client-platform" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Платформа]]></xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="desktop">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Стационарное РМ]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="phone">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Мобильное РМ]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="tablet">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Планшет]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

</xs:schema>