src/main/resources/xsd/tn-ui-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.intertrust.ru/schema/palette/tn-ui"
           xmlns="http://www.intertrust.ru/schema/palette/tn-ui" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:com="http://www.intertrust.ru/schema/palette/common">

    <xs:import namespace="http://www.intertrust.ru/schema/palette/common" schemaLocation="common-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Общие типы]]></xs:documentation>
        </xs:annotation>
    </xs:import>

    <!--Справочники-->
    <xs:include schemaLocation="tn-directories-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Справочники]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!--Условия-->
    <xs:include schemaLocation="tn-conditions-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!--Параметры визуализации-->
    <xs:include schemaLocation="tn-appearance-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!--Роли-->
    <xs:include schemaLocation="tn-roles-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Роли]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!--Обработчик событий -->
    <xs:include schemaLocation="tn-handlers-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Справочники]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!--Проекции-->
    <xs:include schemaLocation="tn-projections-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Проекция]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!--Зависимые поля-->
    <xs:include schemaLocation="tn-dependent-fields-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Зависимые поля]]></xs:documentation>
        </xs:annotation>
    </xs:include>

    <!-- Доп. информация -->
    <xs:complexType name="metaUIType">
        <xs:annotation>
            <xs:documentation><![CDATA[Доп. информация для разработчика]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="category" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Категория]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute type="xs:string" name="name" use="required">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Название категории]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentation" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Комментарий]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- Кнопка -->
    <!-- Настраиваемая кнопка.Создание объекта -->
    <xs:complexType name="createButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Создание объекта]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="save-context" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Если контекст операции - документ в режиме редактирования, то сохранять его  при вызове операции]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="schema-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Cхема объекта]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="key" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Ключ стратегии (если не указан, то в качестве ключа используется схема)]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Настраиваемая кнопка.Создание нового объекта -->
    <xs:complexType name="createNewButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Создание нового объекта]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="createButtonType">
                <xs:choice>
                    <xs:element name="module" type="com:moduleType"/>
                    <xs:element name="module-current">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[Текущий тип программы. Kоординаты БД создаваемого объекта считываются из контекста]]></xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Настраиваемая кнопка. Открытие объекта -->
    <xs:complexType name="openLinkButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Открытие объекта]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="rel" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Ссылка на связанный объект]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Настраиваемая кнопка. Модификация объекта -->
    <xs:complexType name="changeSubObjectButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Модификация подобъекта]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="schema-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Схема диалога]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Настраиваемая кнопка. Обновление контекстного объекта по ссылке -->
    <xs:complexType name="updateByLinkButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Обновление контекстного объекта по ссылке]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="rel" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Ссылка на сервис для обновления]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Настраиваемая кнопка. Обновление контекстного объекта c помощью диалога выбора связанного документа -->
    <xs:complexType name="updateLinkedDocButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Обновление контекстного c помощью диалога выбора связанного документа]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="schema-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Схема диалога]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Настраиваемая кнопка. Операция -->
    <xs:complexType name="operationButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Операция]]></xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="handler-ref" type="handlerRefType"/>
            <xs:element name="handler" type="handlerType"/>
        </xs:choice>
        <xs:attribute name="save-context" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Сохранять контекстный объект при вызове операции]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Настраиваемая кнопка -->
    <xs:complexType name="actionCustomType">
        <xs:annotation>
            <xs:documentation><![CDATA[Настраиваемая кнопка]]></xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="create" type="createNewButtonType"/>
            <xs:element name="create-sibling" type="createButtonType">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[Создание нового объекта на одном уровне с контекстным]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="create-child" type="createButtonType">
                <xs:annotation>
                    <xs:documentation><![CDATA[Создание подчиненного объекта]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="create-copy" type="createButtonType">
                <xs:annotation>
                    <xs:documentation><![CDATA[Создание нового объекта как копии]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="open-link" type="openLinkButtonType"/>
            <xs:element name="open-edit">
                <xs:annotation>
                    <xs:documentation><![CDATA[Открытие объекта в режиме редактирования]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="save">
                <xs:annotation>
                    <xs:documentation><![CDATA[Сохранение нового объекта]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="save-existing">
                <xs:annotation>
                    <xs:documentation><![CDATA[Сохранение существующего объекта]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="change-subobject" type="changeSubObjectButtonType"/>
            <xs:element name="update-by-link" type="updateByLinkButtonType"/>
            <xs:element name="update-linked-doc" type="updateLinkedDocButtonType"/>
            <xs:element name="operation" type="operationButtonType"/>
        </xs:choice>
    </xs:complexType>

    <!--Переименовать по условию -->
    <xs:complexType name="renameConditionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Переименовать по условию]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="conditionType">
                <xs:attribute name="name" type="com:placeholderType" use="required">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Название]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--Скрыть по условию -->
    <xs:complexType name="hideConditionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Скрыть по условию]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="conditionType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- Заполнение по условию -->
    <xs:complexType name="requreConditionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Заполнение по условию]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="conditionType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрет редактирования по условию -->
    <xs:complexType name="readOnlyConditionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Запрет редактирования по условию]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="conditionType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- Отключение кнопки по условию -->
    <xs:complexType name="disabledConditionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Отключение кнопки по условию]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="conditionType"/>
        </xs:complexContent>
    </xs:complexType>

    <!--Свойство формы-->
    <xs:complexType name="propertiesFormType">
        <xs:annotation>
            <xs:documentation><![CDATA[Свойства формы]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="hide" type="hideConditionType" minOccurs="0"/>
           <!-- <xs:element name="require" type="requreConditionType" minOccurs="0"/> -->
            <xs:element name="read-only" type="readOnlyConditionType" minOccurs="0"/>
         </xs:all>
        <xs:attribute name="show-empty-field" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                 <xs:documentation><![CDATA[Показывать пустые поля в режиме чтения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--Свойство секции-->
    <xs:complexType name="propertiesSectionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Свойства секции]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="hide" type="hideConditionType" minOccurs="0"/>
            <xs:element name="require" type="requreConditionType" minOccurs="0"/>
            <xs:element name="read-only" type="readOnlyConditionType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="show-empty-field" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Показывать пустые поля в режиме чтения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Иконка -->
    <xs:complexType name="iconType">
        <xs:attribute name="code" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Код иконки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="path" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Путь к спрайту]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Тип иконки. Используется только в клиенте WebDocs.]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Цвет иконки. Используется только в клиенте WebDocs.]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>    
        <xs:attribute name="position" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Позиция иконки в спрайте. Используется вместе с тэгом path]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Свойство кнопки -->
    <xs:complexType name="propertiesButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Свойства поля]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="hide" type="hideConditionType" minOccurs="0"/>
            <xs:element name="disabled" type="disabledConditionType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Зависимые поля кнопки -->
    <xs:complexType name="dependentFieldsButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Зависимые поля кнопки]]></xs:documentation>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="dependent-field-ref" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Обратная ссылка -->
    <xs:complexType name="wfRefrenceType">
        <xs:annotation>
            <xs:documentation><![CDATA[Обратная ссылка. Используется в WorkFlow]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="schema-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Схема]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Свойство схемы]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="actionButtonFullType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Действие. Определяет, какое системное действие будет выполнено, при нажатии на кнопку]]></xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="system">
                <xs:annotation>
                    <xs:documentation><![CDATA[Системная кнопка]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="name" type="actionSystemType" use="required">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Укажите тип действия]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="custom" type="actionCustomType">
                <xs:annotation>
                    <xs:documentation><![CDATA[Настраиваемая кнопка]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="position" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Позиция в линейке меню]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Параметры визуализации альтернативной Кнопки -->
    <xs:complexType name="altAppearanceButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации (по условию)]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="alt-appearance" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="appearance" type="buttonAppearanceType"/>
                            <xs:element name="appearance-ref" type="refAppearanceType"/>
                        </xs:choice>
                        <xs:element name="enable" type="conditionType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Параметры визуализации Кнопки -->
    <xs:complexType name="appearanceButtonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации кнопки]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="label-style" type="buttonSType" minOccurs="0"/>
            <xs:element name="alt-appearancies" type="altAppearanceButtonType" minOccurs="0"/>
            <xs:element name="padding" type="intendationType" minOccurs="0"/>
            <xs:element name="margin" type="intendationType" minOccurs="0"/>
        </xs:all>
        <xs:attributeGroup ref="attributeGroupButtonAppearance"/>
    </xs:complexType>

    <!-- Описание. Кнопка -->
    <xs:complexType name="buttonType">
        <xs:annotation>
            <xs:documentation><![CDATA[Кнопка]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="rename" type="renameConditionType" minOccurs="0"/>
            <xs:element name="hint-pop-up" type="com:placeholderType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Всплывающая подсказка при наведении курсора]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="icon" type="iconType" minOccurs="0"/>
            <xs:element name="properties" type="propertiesButtonType" minOccurs="0"/>
            <xs:element name="wf-refrence" type="wfRefrenceType" minOccurs="0"/>
            <xs:element name="appearance" type="appearanceButtonType" minOccurs="0"/>
            <xs:element name="action" type="actionButtonFullType" minOccurs="0"/>
            <xs:element name="dependent-fields" type="dependentFieldsButtonType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" type="com:placeholderType" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название кнопки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Алиас кнопки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название свойство схемы]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="recalc" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Участие в вычисляемых секциях]]></xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="true">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Да]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="false">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Нет]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="with-validation">
                        <xs:annotation>
                            <xs:documentation><![CDATA[С валидацией]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[tid - идентификатор на форме, используемый WEB-клиентом и автотестами]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Описание. Якорь -->
    <xs:complexType name="anchorType">
        <xs:annotation>
            <xs:documentation><![CDATA[Анкор. Используется в WorkFlow]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="icon" type="iconType" minOccurs="0"/>
            <xs:element name="properties" type="propertiesButtonType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" type="com:placeholderType" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название кнопки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Алиас кнопки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[tid - идентификатор на форме, используемый WEB-клиентом и автотестами]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Поле -->
    <!-- Отображение выбранных значений- -->
    <xs:complexType name="showSelectValueType">
        <xs:annotation>
            <xs:documentation><![CDATA[Отображение выбранных значений в диалоге]]></xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="descriptor-ref">
                <xs:annotation>
                    <xs:documentation><![CDATA[Указывается дескриптор, который будет использован в диалоге выбора для отображения выбранных значений.
                    Соответствующий дескриптор должен быть описан в Каталог]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Идентификатор дескриптора]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="cell-view-ref">
                <xs:annotation>
                    <xs:documentation><![CDATA[Указывается представление объекта, которое будет использовано в диалоге выбора для отображения выбранных значений.
                     Соответствующий тип элемента коллекци должен быть описан в Каталог.]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="ref" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Название типа элемента коллекции]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <!-- Ссылка на справочник -->
    <xs:complexType name="directoryRefType">
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Категория для произвольной коллекции -->
    <xs:complexType name="directoryCategoryCustomCollType">
        <xs:annotation>
            <xs:documentation><![CDATA[Категория для произвольной коллекции]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Ключ. Свойство схемы. Если свойство не указано, выводятся все значения справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="empty-root-path" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Признак "Скрыть хлебные крошки"]]></xs:documentation>
                </xs:annotation>
            </xs:attribute>
    </xs:complexType>

    <!-- Иерархический справочник по ключу -->
    <xs:complexType name="directoryHierarchByKeyType">
        <xs:annotation>
            <xs:documentation><![CDATA[Иерархический справочник по ключу]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Ключ. Свойство схемы. Если свойство не указано, выводятся все значения справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="level" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Уровень вложенности]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--  Значения из реквизита ресурса -->
    <xs:complexType name="directorySelectValueType">
        <xs:annotation>
            <xs:documentation><![CDATA[Значения из реквизита ресурса]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Название справочника, которое будет выводиться в диалоге]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Свойство схемы. Указывается свойство схемы из которого будут браться значения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--  Выбор из организации -->
    <xs:complexType name="directorySelectOrgType">
        <xs:annotation>
            <xs:documentation><![CDATA[Выбор из организации]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор справочника организаций]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Свойство схемы. Указывается ссылка ресурс в текущем контексте, в котором хранитья организация
                Выбор сотрудников и подразделений происходит из этой организации]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Выбор из организации -->
    <xs:complexType name="directorySelectDepartType">
        <xs:annotation>
            <xs:documentation><![CDATA[Выбор из подразделения]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор справочника организаций]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Свойство схемы. Указывается ссылка ресурс в текущем контексте, в котором хранится подразделение
                Выбор сотрудников и подразделений происходит из этого подразделения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Комплексный справочник -->
    <xs:complexType name="unionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Соответствие св-в справочника и контекстного документа]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Свойство схемы. Указывается ссылка ресурс в текущем контексте]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dir-attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Свойство схемы. Указывается ссылка ресурс в справочнике]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="directoryComplexType">
        <xs:annotation>
            <xs:documentation><![CDATA[Комплексный справочник]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="union" type="unionType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation><![CDATA[Указывается соотвествие свойств схем справочника и контекстного документа]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Подключение справочников -->
    <xs:complexType name="directoriesRefType">
        <xs:sequence>
            <xs:element name="show-select-value" type="showSelectValueType" minOccurs="0"/>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="directory-category-custom-coll" type="directoryCategoryCustomCollType"
                            maxOccurs="unbounded"/>
                <xs:element name="directory-hierarchy-by-key" type="directoryHierarchByKeyType" maxOccurs="unbounded"/>
                <xs:element name="directory-select-value" type="directorySelectValueType" maxOccurs="unbounded"/>
                <xs:element name="directory-select-org" type="directorySelectOrgType" maxOccurs="unbounded"/>
                <xs:element name="directory-select-depart" type="directorySelectDepartType" maxOccurs="unbounded"/>
                <xs:element name="directory-complex" type="directoryComplexType" maxOccurs="unbounded"/>
                <xs:element name="directory-ref" type="directoryRefType" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="manual-input" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Ручной ввод.
                При установке признака пользователь имеет возможность ввести в поле значение,
                которое не содержится в подключенных справочниках]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="livesearch" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Живой поиск]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="limit-livesearch" use="optional" default="no-restrictions">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Ограничить живой поиск. Работае вместе с атрибутом livesearch]]></xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="no-restrictions">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Без ограничений]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="sys-current">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Только своя системная организация]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="sys">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Все системные организации]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="nonsys">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Только внешние организации и частные лица]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="hide-dialog-selection" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Скрыть выбор из классификатора]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="relation" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Коллекции для поиска. Работае вместе с атрибутом livesearch]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="relation-in-resource" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Имя relation в ресурсе, которому соответствует href, на который необходимо отправлять запрос для живого поиска. В отличие от него, атрибут relation содержит алиас коллекции для живого поиска. Работает вместе с атрибутом livesearch]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="digest" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Произвольный digest режим формы для отображения результатов поиска, а также элементов справочника, элементами которого являются значения другого поля]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="title-field-from-classsifier-element" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Имя поля из элемента данных справочника, которое будет использовано для отображения значения соответствующего элемента справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value-field-from-classsifier-element" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Имя поля из элемента данных справочника, которое клиент положит в поле ресурса при выборе соответствующего элемента из справочника]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dialog-title" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Произвольный заголовок для диалога выбора значения. Если не задан, то заголовком будет название поля]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--Свойства поля-->
    <xs:complexType name="propertiesFieldType">
        <xs:annotation>
            <xs:documentation><![CDATA[Свойства поля]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="hide" type="hideConditionType" minOccurs="0"/>
            <xs:element name="require" type="requreConditionType" minOccurs="0"/>
            <xs:element name="read-only" type="readOnlyConditionType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Параметры визуализации альтернативного Поля -->
    <xs:complexType name="altAppearanceFieldType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации (по условию)]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="alt-appearance" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="appearance" type="fieldAppearanceType"/>
                            <xs:element name="appearance-ref" type="refAppearanceType"/>
                        </xs:choice>
                        <xs:element name="enable" type="conditionType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Параметры визуализации Поля -->
    <xs:complexType name="appearanceFieldType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации поля]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="label-style" type="fieldLabelSType" minOccurs="0"/>
            <xs:element name="field-style" type="fieldSType" minOccurs="0"/>
            <xs:element name="limit" type="limitType" minOccurs="0"/>
            <xs:element name="alt-appearancies" type="altAppearanceFieldType" minOccurs="0"/>
            <xs:element name="padding" type="intendationType" minOccurs="0"/>
            <xs:element name="margin" type="intendationType" minOccurs="0"/>
        </xs:all>
        <xs:attributeGroup ref="attributeGroupFieldAppearance"/>
    </xs:complexType>

    <!-- Описания Поля -->
    <xs:complexType name="fieldType">
        <xs:annotation>
            <xs:documentation><![CDATA[Поле]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="rename" type="renameConditionType" minOccurs="0"/>
            <xs:element name="icon" type="iconType" minOccurs="0"/>
            <xs:element name="properties" type="propertiesFieldType" minOccurs="0"/>
            <xs:element name="appearance" type="appearanceFieldType" minOccurs="0"/>
            <xs:element name="wf-refrence" type="wfRefrenceType" minOccurs="0"/>
            <xs:element name="hint-pop-up" type="com:placeholderType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Всплывающая подсказка при наведении курсора]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hint-in-field" type="com:placeholderType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Подсказка в поле]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="show-value" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Используется для отображения объектной переменной по другой схеме,
                    а не по той, что является типом этой переменной. Используется для actors (SOBeards)]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="schema-ref" type="xs:string">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Назваие на схемы]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="directories" type="directoriesRefType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" type="com:placeholderType" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название кнопки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="alias" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Алиас кнопки]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Поле по умолчанию]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="autofill" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Автозаполнение.
                Если установлено значение «true», то при создании нового документа в данном поле будет установлено по умолчанию значение,
                которое было введено в поле при создании предыдущего документа. По умолчанию установлено значение «false».]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="clickable" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Кликабельное поле]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="recalc" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Участие в вычислении секции]]></xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="true">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Да]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="false">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Нет]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="with-validation">
                        <xs:annotation>
                            <xs:documentation><![CDATA[С валидацией]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="without-access-to-the-server">
                        <xs:annotation>
                            <xs:documentation><![CDATA[без обращения к серверу]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="creative" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Поле является "создающим" для полей, используемых в таблицах]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="row-draft-on-server" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Черновик элемента таблицы создается на сервере]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attribute-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название свойство схемы]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[tid - идентификатор на форме, используемый WEB-клиентом и автотестами]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="autofocus" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Установить курсор в поле по умолчанию]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--Секция-->
    <!-- Параметры визуализации альтернативной Формы/Секции-->
    <xs:complexType name="altAppearanceSectionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации (по условию)]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="alt-appearance" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice>
                            <xs:element name="appearance" type="sectionAppearanceType"/>
                            <xs:element name="appearance-ref" type="refAppearanceType"/>
                        </xs:choice>
                        <xs:element name="enable" type="conditionType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--Параметры визуализации секции -->
    <xs:complexType name="appearanceSectionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации секции]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="label-style" type="sectionSType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Заголовок секции]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dialog-mode" type="dialogModeType" minOccurs="0"/>
            <xs:element name="table" type="tableType" minOccurs="0"/>
            <xs:element name="action" type="actionSectionType" minOccurs="0"/>
            <xs:element name="alt-appearancies" type="altAppearanceSectionType" minOccurs="0"/>
            <xs:element name="padding" type="intendationType" minOccurs="0"/>
            <xs:element name="margin" type="intendationType" minOccurs="0"/>
        </xs:all>
        <xs:attributeGroup ref="attributeGroupSectionAppearance"/>
    </xs:complexType>

    <!-- Компонеты -->
    <xs:complexType name="componentType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="button" type="buttonType" minOccurs="0"/>
            <xs:element name="anchor" type="anchorType" minOccurs="0"/>
            <xs:element name="field" type="fieldType" minOccurs="0"/>
            <xs:element name="section" type="sectionType" minOccurs="0"/>
        </xs:choice>
    </xs:complexType>

    <!--Описание секции -->
    <xs:complexType name="sectionType">
        <xs:annotation>
            <xs:documentation><![CDATA[Секция]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="rename" type="renameConditionType" minOccurs="0"/>
            <xs:element name="properties" type="propertiesSectionType" minOccurs="0"/>
            <xs:element name="appearance" type="appearanceSectionType" minOccurs="0"/>
            <xs:element name="component" type="componentType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="com:placeholderType" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="group" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Признак "Группа". Означает, что секция используется для визуальной группировки полей]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="showtabs" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Признак "Секция с закладками"]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="projection" type="xs:string" use="optional" default="default">
            <xs:annotation>
                <xs:documentation><![CDATA[Проекция]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[tid - идентификатор на форме, используемый WEB-клиентом и автотестами]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Параметры визуализации Формы -->
    <xs:complexType name="appearanceFormType">
        <xs:annotation>
            <xs:documentation><![CDATA[Параметры визуализации формы]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="label-style" type="formSType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Заголовок секции]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dialog-mode" type="dialogModeType" minOccurs="0"/>
            <xs:element name="table" type="tableType" minOccurs="0"/>
            <xs:element name="alt-appearancies" type="altAppearanceSectionType" minOccurs="0"/>
        </xs:all>
        <xs:attributeGroup ref="attributeGroupFormAppearance"/>
    </xs:complexType>

    <!--Описание формы -->
    <xs:complexType name="formObjectType">
        <xs:annotation>
            <xs:documentation><![CDATA[Форма\Корневая секция]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="meta" type="metaUIType" minOccurs="0"/>
            <xs:element name="rename" type="renameConditionType" minOccurs="0"/>
            <!--<xs:element name="icon" type="iconType" minOccurs="0"/>-->
            <xs:element name="properties" type="propertiesFormType" minOccurs="0"/>
            <xs:element name="appearance" type="appearanceFormType" minOccurs="0"/>
            <xs:element name="component" type="componentType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="schema-ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Схема]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="com:placeholderType" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="group" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Признак "Группа". Означает, что форма используется для визуальной группировки полей]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="showtabs" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Признак "Секция с закладками"]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Признак "По умолчанию"]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="projection" type="xs:string" use="optional" default="default">
            <xs:annotation>
                <xs:documentation><![CDATA[Проекция]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tid" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[tid - идентификатор на форме, используемый WEB-клиентом и автотестами]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- UI -->
    <xs:element name="ui">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="section-appearance" type="sectionAppearanceObjectType" maxOccurs="unbounded"/>
                <xs:element name="button-appearance" type="buttonAppearanceObjectType" maxOccurs="unbounded"/>
                <xs:element name="field-appearance" type="fieldAppearanceObjectType" maxOccurs="unbounded"/>
                <xs:element name="condition" type="condtionObjectType" maxOccurs="unbounded"/>
                <xs:element name="form" type="formObjectType" maxOccurs="unbounded"/>
                <xs:element name="handler" type="handlerObjectType" maxOccurs="unbounded"/>
                <xs:element name="async-handler" type="asyncHandlerObjectType" maxOccurs="unbounded"/>
                <xs:element name="projection" type="projectionObjectType" maxOccurs="unbounded"/>
                <xs:element name="roles" type="rolesType" maxOccurs="unbounded"/>
                <xs:element name="directory-modifier" type="directoryModifierNameType" maxOccurs="unbounded"/>
                <xs:element name="directories" type="directoriesType" maxOccurs="unbounded"/>
                <xs:element name="dependent-field" type="dependentFieldObjectType" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>