cmpalette/src/main/resources/xsd/cat-events-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:com="http://www.intertrust.ru/schema/palette/common">

    <xs:import namespace="http://www.intertrust.ru/schema/palette/common" schemaLocation="common-1.0.xsd">
        <xs:annotation>
            <xs:documentation><![CDATA[Общие типы]]></xs:documentation>
        </xs:annotation>
    </xs:import>

    <xs:complexType name="historyEventType">
    	<xs:annotation>
        	<xs:documentation><![CDATA[Событие истории]]></xs:documentation>
    	</xs:annotation>
 
	    <xs:choice maxOccurs="unbounded">
    	    <xs:element name="scopes" type="scopesType" maxOccurs="1" minOccurs="1" />
        	<xs:element name="modules" type="modulesType" maxOccurs="1" minOccurs="1" />
        	<xs:element name="description-template" type="descriptionTemplateType" minOccurs="1" maxOccurs="unbounded"/>
        	<xs:element name="additional-info-template" type="descriptionTemplateType" minOccurs="1" maxOccurs="unbounded"/>
    	</xs:choice>
 
    	<xs:attribute name="id" type="xs:string" use="required">
        	<xs:annotation>
            	<xs:documentation><![CDATA[Идентификатор события]]></xs:documentation>
        	</xs:annotation>
    	</xs:attribute>
    	<xs:attribute name="type" type="xs:string" use="required">
        	<xs:annotation>
            	<xs:documentation><![CDATA[Java-класс типа события]]></xs:documentation>
        	</xs:annotation>
    	</xs:attribute>
 
    	<xs:attribute name="multi-value" type="xs:boolean" use="optional">
        	<xs:annotation>
            	<xs:documentation><![CDATA[Является ли многозначным поле, на которое опирается событие (используется для формирования префикса значений)]]></xs:documentation>
        	</xs:annotation>
    	</xs:attribute>
 
	</xs:complexType>
	
	<xs:complexType name="scopesType">
        <xs:annotation>
            <xs:documentation><![CDATA[Режимы истории]]></xs:documentation>
        </xs:annotation>

        <xs:sequence maxOccurs="unbounded">
            <xs:element name="scope" type="scopeType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>

    </xs:complexType>
    
    <xs:complexType name="modulesType">
        <xs:annotation>
            <xs:documentation><![CDATA[Типы модулей и комплекты, для которых применяется настройка]]></xs:documentation>
        </xs:annotation>

        <xs:sequence maxOccurs="unbounded">
            <xs:element name="module" type="com:moduleType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>

    </xs:complexType>
 
	<xs:complexType name="scopeType">
		<xs:annotation>
            <xs:documentation><![CDATA[Режим истории]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название]]></xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
		        	<xs:enumeration value="full">
		            	<xs:annotation>
		                	<xs:documentation><![CDATA[Подробный режим]]></xs:documentation>
		            	</xs:annotation>
		        	</xs:enumeration>
		        	<xs:enumeration value="short">
		            	<xs:annotation>
		                	<xs:documentation><![CDATA[Краткий режим]]></xs:documentation>
		            	</xs:annotation>
		        	</xs:enumeration>
		        	<xs:enumeration value="spec-registration">
		            	<xs:annotation>
		                	<xs:documentation><![CDATA[Представление регистрации]]></xs:documentation>
		            	</xs:annotation>
		        	</xs:enumeration>
		        	<xs:enumeration value="spec-signing">
		            	<xs:annotation>
		                	<xs:documentation><![CDATA[Представление подписания]]></xs:documentation>
		            	</xs:annotation>
		        	</xs:enumeration>
		        	<xs:enumeration value="spec-verified">
		            	<xs:annotation>
		                	<xs:documentation><![CDATA[Представление заверения]]></xs:documentation>
		            	</xs:annotation>
		        	</xs:enumeration>
		        	<xs:enumeration value="none">
		            	<xs:annotation>
		                	<xs:documentation><![CDATA[Событие не отображается ни при каких режимах]]></xs:documentation>
		            	</xs:annotation>
		        	</xs:enumeration>
    			</xs:restriction>
    		</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
 
	<xs:simpleType name="codeFreemarkerType">
    	<xs:restriction base="xs:string">
        	<xs:enumeration value="Freemarker">
            	<xs:annotation>
                	<xs:documentation><![CDATA[Freemarker]]></xs:documentation>
            	</xs:annotation>
        	</xs:enumeration>
    	</xs:restriction>
	</xs:simpleType>
 
	<xs:complexType name="descriptionTemplateType">
    	<xs:annotation>
        	<xs:documentation><![CDATA[Шаблон Freemarker для отображаемого значения]]></xs:documentation>
    	</xs:annotation>
 
    	<xs:simpleContent>
        	<xs:extension base="xs:string">
            	<xs:attribute name="locale" type="xs:string" use="required" />
            	<xs:attribute name="lang" type="codeFreemarkerType" use="required" />
        	</xs:extension>
    	</xs:simpleContent>
	</xs:complexType>
</xs:schema>