cmpalette/src/main/resources/xsd/tn-handlers-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Доп. информация -->
    <xs:complexType name="metaHandlersType">
        <xs:annotation>
            <xs:documentation><![CDATA[Доп. информация для разработчика]]></xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="category" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Категория]]></xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute type="xs:string" name="name" use="required">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Название категории]]></xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentation" type="xs:string">
                <xs:annotation>
                    <xs:documentation><![CDATA[Комментарий]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- Выражение -->
    <xs:complexType name="codeType">
        <xs:annotation>
            <xs:documentation><![CDATA[Выражение]]></xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
		    <xs:extension base="xs:string">
                <xs:attribute name="lang" use="required">
                    <xs:annotation>
                        <xs:documentation><![CDATA[Язык программирования]]></xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="JavaScript">
                                <xs:annotation>
                                    <xs:documentation><![CDATA[JavaScript]]></xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="JavaBean">
                                <xs:annotation>
                                    <xs:documentation><![CDATA[Название бина]]></xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!--Обработчик операций -->
    <xs:complexType name="handlerObjectType">
        <xs:all>
            <xs:element name="meta" type="metaHandlersType" minOccurs="0"/>
            <xs:element name="script" type="codeType" minOccurs="1"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="use-by-link" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Можно ли подписывать обработчик для использования пользователем без прямых прав чтения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--Асинхронный обработчик операций -->
    <xs:complexType name="asyncHandlerObjectType">
        <xs:all>
            <xs:element name="meta" type="metaHandlersType" minOccurs="0"/>
            <xs:element name="script" type="codeType" minOccurs="1"/>
        </xs:all>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Идентификатор]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name-operation" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название выполняемой операции (для отображения пользователю)]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name-process" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation><![CDATA[Название процесса, в котором используется обработчик (для отображения пользователю)]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="use-by-link" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation><![CDATA[Можно ли подписывать обработчик для использования пользователем без прямых прав чтения]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="handlerType">
        <xs:annotation>
            <xs:documentation><![CDATA[Обработчик операций]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="script" type="codeType" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="handlerRefType">
        <xs:annotation>
            <xs:documentation><![CDATA[Название обработчика операций]]></xs:documentation>
        </xs:annotation>
        <xs:attribute name="ref" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation><![CDATA[Название обработчика операций]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>