cmpalette/src/main/resources/xsd/tn-widgets-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--Виджеты для формы  -->
    <xs:simpleType name="widgetNameFormType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="tabs">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Вкладки]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="tabPanel">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Вкладки в диалоговой форме]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <!--Виджеты для секции -->
    <xs:simpleType name="widgetNameSectionType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="hardTable">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Фиксированная таблица]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="leftMenu">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Боковое меню]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="withPreview">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[Для отображения вложенных файлов в виде таблицы с превью]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="inactiveTab">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Неактивная вкладка. Идет в связке с виджетом radioTabPanel]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="radioTabPanel">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Вкладки в виде радиокнопки]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="tabPanel">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Вкладки в диалоговой форме]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <!--Виджеты для поля -->
    <xs:simpleType name="widgetNameFieldType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="checkbox">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Флаг]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="clickableHierarchy">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[Отображает кликабельную иерархию. Использование требует доработок со стороны сервера.]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="digestList">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[Для отображения сводки изменений по согласованию]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="EmbeddedHierarchy">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Встроенная иерархия. Использование требует доработок со стороны сервера.]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="EmbeddedView">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Встроенное представление. Использование требует доработок со стороны сервера.]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="fileLoader">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Для загрузки файлов]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="fileWithPreview">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Файл с предпросмотром]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="grid">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Встроенная коллекция]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="radio">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Радиокнопка]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="withPreview">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[Для отображения вложенных файлов в виде таблицы с превью]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="html">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Отображение поля в html]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="approvingListDraft">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Черновик листа согласования. Использование требует доработок со стороны сервера.]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="richTextEditor">
                        <xs:annotation>
                            <xs:documentation><![CDATA[RichText редактор]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="barcode">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Поле для штрих-кода]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="hierarchyColl">
                        <xs:annotation>
                            <xs:documentation><![CDATA[Используется для вывода истории согласования. Использование требует доработок со стороны сервера.]]></xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
</xs:schema>